*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

ul li{
    list-style: none;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 1900;
}

.logo{
    width: 200px;
    height: 100%;
    color: aliceblue;
    font-size: 54px;
    font-weight: 800;
    line-height: 60px;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

nav{
    width: 800px;
    height: 100%;
    position: relative;
    z-index: 8;
}

nav a{
    text-decoration: none;
    color: inherit;
}

.band{
    width: 100%;
    top: 70px;
    height: 210px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 7;
    display: none;
}

.main{
    position: absolute;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.main li{
    float: left;
    width: 150px;
    line-height: 70px;
    text-align: center;
    color: aliceblue;
}

.main li:hover{
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

.sub{
    margin-left: -32px;
}

.sub li{
    color: #FFFFFF;
    display: none;
}

.sub li:hover{
    background-color: #ffffff;
    color: #333333;
}

.login{
    width: 200px;
    height: 100%;
    color: aliceblue;
    line-height: 70px;
    text-align: center;
}

.login button{
    width: 100px;
    height: 35px;
    background: rgba(0, 255, 255, 1);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    line-height: 35px;
}

.login svg{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 7px;
    margin-left: 9px;
}

.login p{
    font-size: 18px;
    font-weight: 800;
}

.back{
    width: 100%;
    height: 600px;
}

.mainText{
    position: absolute;
    margin-top: 200px;
    margin-left: 3%;
}

.mainText h4{
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

.mainText h1{
    margin-top: 50px;
    font-weight: 900;
    text-shadow: 1px 1px 1px black;
}

.back img{
    width: 100%;
    height: 100%;
}

.icon{
    position: absolute;
    width: 25%;
    height: 100px;
    z-index: 1;
    left: 2%;
    top: 550px;
}

.icon button{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: none;
    margin: 17px;
    box-shadow: 3px 3px 2px black;
}

.icon svg{
    width: 50%;
    height: 50%;
}

.iconText{
    margin-left: -30px;
    display: flex;
    text-align: center;
    font-weight: 900;
    font-style: 15px;
    margin-top: -10px;
}

.iconText p:nth-child(1){
    margin-left: 30px;
}

.iconText p:nth-child(2){
    margin-left: 5px;
}

.imgSlide{
    position: absolute;
    width: 50%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    top: 150px;
    right: 10%;
    z-index: 100;
    box-shadow: 3px 3px 3px black;
}

.imgSlide img{
    width: 100%;
    height: 500px;
}

.content{
    width: 100%;
    height: 730px;
    background-color: aliceblue;
}

.doubleSlide{
    width: 75%;
    height: 100%;
    float: left;
}

.gall{
    top: 180px;
    position: relative;
    width: 1000px;
    height: 450px;
    overflow: hidden;
}

.window{
    position: absolute;
    width: 3032px;
    height: 450px;
    animation: 8s infinite linear window;
    margin-left: -32px;
}

.window > li img{
    border-radius: 25px;
    width: 490px;
    margin-right: 10px;
    height: 450px;
    float: left;
    box-shadow: 3px 3px 3px black;
    /* z-index: 10000; */
}

@keyframes window{
    0%{
        left: 0%;
    }

    40%{
        left: 0%;
    }

    50%{
        left: -500px;
    }

    90%{
        left: -500px;
    }

    100%{
        left: -1000px;
    }
}

.contentText{
    width: 25%;
    height: 100%;
    float: left;
    padding-left: 15px;
}

.contentText h1{
    margin-top: 220px;
    font-weight: 900;
}

.contentText svg{
    margin-top: -10px;
    margin-left: -5px;
    width: 40px;
    height: 40px;
}

.contentText h5{
    margin-top: 50px;
    font-weight: 700;
}

.mainContent{
    width: 100%;
    height: 750px;
    background-color: rgb(212, 235, 255);
}

.notice{
    width: 100%;
    height: 400px;
    display: flex;
}

.noticeText{
    width: 30%;
    height: 100%;
}

.noticeText h1{
    margin-top: 100px;
    font-weight: 900;
    margin-left: 20%;
}

.noticeText h5{
    font-weight: 700;
    margin-left: 20%;
    margin-top: 30px;
}

.noticeBox{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conBox{
    width: 1200px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con1{
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 2px black;
}

.con1 iframe{
    width: 100%;
    height: 100%;
}

.con2{
    width: 400px;
    height: 200px;
    margin: 10px;
    margin-left: 4%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 2px black;
}

.con2 iframe{
    width: 100%;
    height: 100%;
}

.widthBar{
    width: 95%;
    height: 300px;
    background: linear-gradient(to left, aqua, blue);
    border-radius: 30px;
    display: flex;
    overflow: hidden;
}

.wbox button{
    width: 300px;
    height: 100px;
    border-radius: 15px;
    border: none;
    background-color: aliceblue;
    font-size: 18px;
    font-weight: 900;
    margin-top: 35px;
    margin-left: 30%;
}

.wbox button:nth-child(1){
    margin-right: 30%;
}


.wbox svg{
    margin-top: -5px;
}

.wBox1{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 3px black;
}

.wBox2{
    width: 60%;
    height: 100%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #333333;
    display: flex;
}

.foo1{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foo2{
    width: 60%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.foo3{
    width: 20%;
    height: 100%;
}

.foo31{
    width: 100%;
    height: 50%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foo32{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foo32 svg{
    width: 40px;
    height: 40px;
    cursor: wait;
}

